<p id="notice"><%= notice %></p>
<p>
  <strong>Order ID:</strong>
  <%= @invoice.order.id %>
</p>
<p>
  <strong>Ordered item:</strong>
  <%= @invoice.order.item.name %>
</p>
<p>
  <strong>Ordered by:</strong>
  <%= @invoice.order.user.name %>
</p>
<p>
  <strong>Ordered status:</strong>
  <%= @invoice.order.order_status %>
</p>
<p>
  <strong>Payment status:</strong>
  <%= @invoice.order.payment_status %>
</p>
<p>
  <strong>Payment mode:</strong>
  <%= @invoice.order.payment_mode %>
</p>
<p>
  <strong>Ordered on:</strong>
  <%= @invoice.order.created_at %>
</p>
<p>
  <strong>Amount:</strong>
  <%= @invoice.order.item.price %>
</p>
<%= link_to 'Items', items_path %>