<div class="container">
  <p id="notice"><%= notice %></p>
  <h1><%= @category.name %></h1>
  <div class="row">
    <% @category.items.each do |item| %>
    <% if item.stock > 0 %>
    <div class="col-md-4">
      <h3><%= item.name %></h3>
      <p><%= item.description %></p>
      <p>
        <b>Price: </b><%= item.price %>
        <b>Brand: </b><%= item.brand %>
      </p>
      <p>
        <b>Category: </b><%= item.category.name %>
        <b>Stock left: </b><%= number_with_precision(item.stock, precision: 0) %>
      </p>
      <%= link_to 'Show', item, class: "btn btn-md btn-info" %>
      <% if session[:is_admin] %>
      <%= link_to 'Edit', edit_item_path(item), class: "btn btn-md btn-success" %>
      <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-md btn-danger" %>
      <% else %>
      <%= link_to 'Order', new_order_path(:item_id => item.id), class: "btn btn-md btn-success" %>
      <% end %>
    </div>
    <% end %>
    <% end %>
  </div>
  <% if session[:is_admin] %>
  <%= link_to 'Edit', edit_category_path(@category), class: "btn btn-md btn-success" %> | 
  <% end %>
  <br>
  <%= link_to 'Back', categories_path, class: "btn btn-md btn-primary" %>
</div>